*{
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: 50px auto;
    left: 0;
    right: 0;
    border-radius: 20px;
    border: 3px solid red;
    overflow: auto;
}
.container img {
    width: 100%;
}
.left{
    width: 50%;
    box-sizing: border-box;
    float: left;
}
.right{
    float: right;
    width: 50%;
    box-sizing: border-box;
    padding: 25px;
}
form{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    margin-top: 10px;
}
.container input:not(.check){
    width: 100%;
    font-size: 30px;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px #111;
}
.container p .check{
    text-align: center;
}
.container input[type="submit"]{
    margin: 20px 0;
    float: right;
    width: fit-content;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    background-color: aqua;
    border-radius: 10px;
}

/* form -02 */
.form{
    background-color: crimson;
    color: #fff;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 30px 80px;
    margin-bottom: 100px;
    box-shadow: 0 4px 10px 0 rgb(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0, 0.2);
}
.form input{
    width: fit-content;
    padding: 5px 50px;
    font-size: 30px;
    border-color: yellowgreen 0.5;
    border-radius: 20px;
    margin: 10px 0;
}
.form label{
    float: left;
    margin-top: 10px;
}
.form input .btn{
    font-weight: 700;
    background-color: aquamarine;
}

/* form2 */
.form2{
    background: linear-gradient(to left top, red,green);
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    border: 3px solid #111;
    padding: 30px;
    box-shadow: 0 4px 10px 0 #111;
    margin-bottom: 100px;
    position: relative;
    overflow: auto;
}
.form2 label{
    display: block;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'sofia';
}
.form2 label::after{
    content: ":";
}
.form2 input,select{
    width: 100%;
    font-size: 30px;
    padding:  10px 10px;
    border-radius: 10px;
}
.form2 select{
    font-size: 30px;
    padding:  10px 10px;
    border-radius: 10px;
}
.table{
    text-align: center;
    border: 2px solid blue;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    border-collapse: collapse;
}
.table th,td{
    border: 2px solid blue;
    padding: 10px 20px;
}
#colors{
    width: 100px;
    height: 50px;
    padding: 0;
    font-size: 20px;
}
#textarea{
    width: 100%;
    height: 300px;
    background-color: #9980FA;
    border-radius: 10px;
}
.sbtn{
    background-color: #4bcffa;
    width: 200px !important;
    float: right;
    margin-top: 50px;
    font-weight: 700;
}
.form2 p{
    text-align: center;
    font-size: 50px;
    color: #ff3f34;
}
#gender{
    display: block !important;
}